replay/serverless.yml
service: replay

provider:
  name: aws
  stage: ${opt:stage, 'dev'}
  runtime: nodejs12.x
  apiKeys:
    - query-process-${opt:stage, self:provider.stage}
  usagePlan:
    throttle:
      burstLimit: 10
      rateLimit: 5
  environment:
    DYNAMODB_TABLE: cloudevents-to-ddb-${opt:stage, self:provider.stage}
    DYNAMODB_IDX: timestampIdx
    MAX_ITEMS: 5 
  iamRoleStatements:
    - Effect: Allow
      Action:
        - dynamodb:Query
        - dynamodb:Scan
        - dynamodb:GetItem
        - dynamodb:PutItem
        - dynamodb:UpdateItem
        - dynamodb:DeleteItem
      Resource: "arn:aws:dynamodb:${opt:region, self:provider.region}:*:table/${self:provider.environment.DYNAMODB_TABLE}/*"



functions:
  startJob:
    handler: query-process.startJob

  executeQuery:
    handler: query-process.executeQuery

stepFunctions:
  stateMachines:
    Process1:
      name: query-process-${opt:stage}
      events:
        - http:
            path: create
            method: POST
            private: true
      definition:
        Comment: "Two steps FTW!"
        StartAt: startJob
        States:
          startJob:
            Type: Task
            TimeoutSeconds: 30
            Resource: "arn:aws:lambda:#{AWS::Region}:#{AWS::AccountId}:function:${self:service}-${opt:stage}-startJob"
            Next: queryAndReplay
          queryAndReplay:
            Type: Task
            TimeoutSeconds: 30
            Resource: "arn:aws:lambda:#{AWS::Region}:#{AWS::AccountId}:function:${self:service}-${opt:stage}-executeQuery"
            Next: isReplayJobComplete
          isReplayJobComplete:
            Type: Choice
            Choices:
              - Variable: '$.queryState'
                StringEquals: 'running'
                Next: queryAndReplay
            Default: finishJob
          finishJob:
            Type: Pass
            End: true



plugins:
  - serverless-step-functions
  - serverless-pseudo-parameters